{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Chad Pritchett" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "What is your name?" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "chad@chadpritchett.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "What is your email?" $email -}}
{{- end -}}

{{- /* Does the same for the location */ -}}
{{- $location := "work" -}}
{{- if hasKey . "location" -}}
{{-   $location = .location -}}
{{- else if $interactive -}}
{{-   $location = promptString "Is this a work machine?" $location -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  location: "{{ $location }}"

git:
  autoCommit: true
  autoPush: false