# This is Git's per-user configuration file.
# This file is managed with chezmoi
# Please edit with `chezmoi edit ~/.gitconfig`
# After saving the file, run `chezmoi apply -v`

[user]
# Please adapt and uncomment the following lines:
	name = Chad Pritchett
	email = chad@chadpritchett.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN0Lsz4e/C4miz+DhZG5Pp4gdOVeUL2VdAjOVGmsGT9v
[core]
	editor = vim
[color]
	ui = true
[gpg]
	format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ end }}
[commit]
	gpgsign = true
