# This file is managed by chezmoi.
# Edit it with `chezmoi edit ~/.zshrc`
# To apply, run `chezmoi apply -v` after saving the file.

{{ if eq .chezmoi.os "darwin" }}
# Fig pre block. Keep at the top of this file.
. "$HOME/.fig/shell/zshrc.pre.zsh"
{{ end }}

#History 
HISTFILE=~/.zsh_history
HISTSIZE=SAVEHIST=10000
setopt sharehistory
setopt extendedhistory


# Alias vim to neovim
if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi

#Alias git to hub
if type hub > /dev/null 2>&1; then
  eval "$(hub alias -s)"
fi

alias ls='ls -G'
alias ll='ls -lah'

# Brew and Whalebrew for Mac
{{ if eq .chezmoi.os "darwin" }}
export WHALEBREW_INSTALL_PATH=~/.whalebrew/bin/
export WHALEBREW_CONFIG_DIR=~/.whalebrew/
export PATH=${PATH}:${WHALEBREW_INSTALL_PATH}
export PATH=/opt/homebrew/opt/grep/libexec/gnubin:$PATH

alias nano='/opt/homebrew/bin/nano'

{{ end }}


# Python 
{{ if eq .chezmoi.os "darwin" }}
eval "$(pyenv init -)"
{{ end }}

export EDITOR=vim
export VISUAL="code --wait"

# 1password ssh agent
export SSH_AUTH_SOCK=~/.1password/agent.sock

# OCI
{{ if eq .chezmoi.os "linux" }}
export PATH=/home/cpritchett/bin:$PATH
{{ end }}


export CLOUDSDK_PYTHON_SITEPACKAGES=1

export PATH=/opt/puppetlabs/bolt/bin:$PATH

{{ if eq .chezmoi.os "darwin" }}
# Fig post block. Keep at the bottom of this file.
. "$HOME/.fig/shell/zshrc.post.zsh"
{{ end }}
