# Fig pre block. Keep at the top of this file.
. "$HOME/.fig/shell/zshrc.pre.zsh"

#History 
HISTFILE=~/.zsh_history
HISTSIZE=SAVEHIST=10000
setopt sharehistory
setopt extendedhistory


# Alias vim to neovim
if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi

#Alias git to hub
if type hub > /dev/null 2>&1; then
  eval "$(hub alias -s)"
fi

alias ls='ls -G'
alias ll='ls -lah'

# M1 darwin
alias nano='/opt/homebrew/bin/nano'

export EDITOR=nano
export VISUAL="code --wait"

#whalebrew (darwin)
export WHALEBREW_INSTALL_PATH=~/.whalebrew/bin/
export WHALEBREW_CONFIG_DIR=~/.whalebrew/
export PATH=${PATH}:${WHALEBREW_INSTALL_PATH}

export SSH_AUTH_SOCK=~/.1password/t/agent.sock


# Python (darwin)
eval "$(pyenv init -)"

export CLOUDSDK_PYTHON_SITEPACKAGES=1

export PATH="/opt/homebrew/opt/grep/libexec/gnubin:$PATH"

export PATH="/opt/puppetlabs/bolt/bin:$PATH"

# Fig post block. Keep at the bottom of this file.
. "$HOME/.fig/shell/zshrc.post.zsh"
