{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "hub"
cask "iterm2"
cask "firefox"
cask "bartender"
cask "aerial"
cask "1password"
cask  "alfred"
brew "neovim"
brew "glances"
cask "visual-studio-code"
brew "jq"

EOF
{{ end -}}
