{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "1password/tap"
tap "go-task/tap"
tap "hashicorp/tap"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "keys-pub/tap"
tap "microsoft/git"
tap "puppetlabs/puppet"
brew "readline"
brew "xz"
brew "ansible"
brew "ansible-lint"
brew "bash-completion"
brew "bat"
brew "chezmoi"
brew "cookiecutter"
brew "dos2unix"
brew "editorconfig"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "glances"
brew "gnu-sed"
brew "grep"
brew "hub"
brew "jq"
brew "mas"
brew "minikube"
brew "nano"
brew "nanorc"
brew "neofetch"
brew "neovim"
brew "newt"
brew "node"
brew "numpy"
brew "oci-cli"
brew "openssh"
brew "packer"
brew "pipenv"
brew "pwgen"
brew "pyenv"
brew "pyenv-virtualenv"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "ruby"
brew "shellcheck"
brew "sshs"
brew "starship"
brew "the_silver_searcher"
brew "tmux"
brew "tree"
brew "vault"
brew "whalebrew"
brew "zlib"
brew "keys-pub/tap/keys"
cask "1password"
cask "1password-cli"
cask "aerial"
cask "alfred"
cask "balenaetcher"
cask "bartender"
cask "betterdiscord-installer"
cask "discord"
cask "displaylink"
cask "firefox"
cask "font-meslo-lg-nerd-font"
cask "google-cloud-sdk"
cask "iterm2"
cask "keys"
cask "logitech-options"
cask "microsoft-remote-desktop"
cask "prusaslicer"
cask "slack"
cask "superslicer"
cask "trunk-io"
cask "ultimaker-cura"
cask "visual-studio-code"
cask "ytmdesktop-youtube-music"
cask "yubico-yubikey-manager"
cask "yubico-yubikey-personalization-gui"
cask "yubico-yubikey-piv-manager"
mas "1Password for Safari", id: 1569813296
mas "Amphetamine", id: 937984704
mas "Battery Health 2", id: 1120214373
mas "Harvest", id: 506189836
mas "Magnet", id: 441258766
mas "Meeter", id: 1510445899
mas "Microsoft OneNote", id: 784801555
mas "Microsoft To Do", id: 1274495053
mas "Pocket", id: 568494494
mas "Save to Pocket", id: 1477385213
mas "Telegram", id: 747648890
mas "TrashMe 3", id: 1490879410

EOF
{{ end -}}
