# This file is managed by chezmoi.
# Edit it with `chezmoi edit $ZDOTDIR/.zshenv`
# To apply, run `chezmoi apply -v` after saving the file.

export XDG_CACHE_HOME=$HOME/.cache

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) -}}
export HOMEBREW_PREFIX=/usr/local
{{ else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) -}}
# update for Apple Silicon
export HOMEBREW_PREFIX=/opt/homebrew
{{ end -}}
