# This file is managed by chezmoi.
# Edit it with `chezmoi edit ${ZDOTDIR}/.zshrc`
# To apply, run `chezmoi apply -v` after saving the file.

#zstyle ':zim:zmodule' use 'degit'

ZIM_HOME=$HOME/.cache/.zim

# Download zimfw plugin manager if missing.
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi

# Initialize modules.
source ${ZIM_HOME}/init.zsh

#History 
HISTFILE=~/.zsh_history
HISTSIZE=SAVEHIST=10000
setopt sharehistory
setopt extendedhistory

# Alias vim to neovim
if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi

#Alias git to hub
if type hub > /dev/null 2>&1; then
  eval "$(hub alias -s)"
fi

alias ls='ls -G'
alias ll='ls -lah'

# Python 
eval "$(pyenv init -)"

export EDITOR=vim

# 1password ssh agent
export SSH_AUTH_SOCK=~/.1password/agent.sock

export CLOUDSDK_PYTHON_SITEPACKAGES=1

export PATH=/opt/puppetlabs/bolt/bin:$PATH

export PATH=~/bin:$PATH
export PATH=~/.local/bin:$PATH

{{ if eq .chezmoi.os "darwin" -}}
eval "$(${HOMEBREW_PREFIX}/bin/brew shellenv)"

# Brew and Whalebrew for Mac
export WHALEBREW_INSTALL_PATH=~/.whalebrew/bin/
export WHALEBREW_CONFIG_DIR=~/.whalebrew/
export PATH=${PATH}:${WHALEBREW_INSTALL_PATH}
export PATH=${HOMEBREW_PREFIX}/opt/grep/libexec/gnubin:$PATH

alias nano='${HOMEBREW_PREFIX}/bin/nano'
{{ end -}}

source $XDG_CONFIG_HOME/op/plugins.sh

{{ if eq .chezmoi.os "darwin" -}}
source ~/.iterm2_shell_integration.zsh
{{ end -}}
