# This file is managed by chezmoi.
# Edit it with `chezmoi edit ${ZDOTDIR}/.zshrc`
# To apply, run `chezmoi apply -v` after saving the file.

#zstyle ':zim:zmodule' use 'degit'

ZIM_HOME=$HOME/.cache/.zim

# Download zimfw plugin manager if missing.
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi

# Initialize modules.
source ${ZIM_HOME}/init.zsh

{{ if eq .chezmoi.os "darwin" -}}
eval "$(${HOMEBREW_PREFIX}/bin/brew shellenv)"

{{ end -}}

#History 
HISTFILE=~/.zsh_history
HISTSIZE=SAVEHIST=10000
setopt sharehistory
setopt extendedhistory

# Alias vim to neovim
if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi

#Alias git to hub
if type hub > /dev/null 2>&1; then
  eval "$(hub alias -s)"
fi


# Python 
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

export EDITOR=vim

# 1password ssh agent
{{ if eq .chezmoi.os "darwin" }}
  export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{ else }}
  export SSH_AUTH_SOCK=~/.1password/agent.sock
{{ end }}

export CLOUDSDK_PYTHON_SITEPACKAGES=1

export PATH=/opt/puppetlabs/bolt/bin:$PATH

export PATH=~/bin:$PATH
export PATH=~/.local/bin:$PATH


{{ if eq .chezmoi.os "darwin" -}}
# Brew and Whalebrew for Mac
export WHALEBREW_INSTALL_PATH=~/.whalebrew/bin/
export WHALEBREW_CONFIG_DIR=~/.whalebrew/
export PATH=${PATH}:${WHALEBREW_INSTALL_PATH}
export PATH=${HOMEBREW_PREFIX}/opt/grep/libexec/gnubin:$PATH

alias nano='${HOMEBREW_PREFIX}/bin/nano'
{{ end -}}

# Source all files in $ZDOTDIR/aliases/
for file in $ZDOTDIR/aliases/*.zsh; do
    source "$file"
done

source $XDG_CONFIG_HOME/op/plugins.sh

# colors
# exa
if [[ -f $HOME/.local/share/exa/themes/dracula/exa_colors.zshrc ]]
  source $HOME/.local/share/exa/themes/dracula/exa_colors.zshrc
fi

# This may be more trouble than it's worth
#{{ if eq .chezmoi.os "darwin" -}}
#source $ZDOTDIR/.iterm2_shell_integration.zsh
#{{ end -}}